package components

templ RecipeTypes(types []string) {
	<div>
		recipe types
		<datalist id="recipe_types">
			for _, t := range types {
				<option>{t}</option>
			}
		</datalist>
		<input list="recipe_types"/>
	</div>
}

templ Page(types []string) {
	<div>
		@RecipeTypes(types)
		@LiveReload()
	</div>
}
