package components

templ LiveReload() {
	<script type="text/javascript">
		conn = new WebSocket("ws://" + document.location.host + "/ws");  
		conn.onclose = function (evt) {  
			console.log("Connection Closed")  
			setTimeout(function () {  
				location.reload();  
			}, 2000);  
		};
	</script>
}
